<ul>
            <li>
                <a href="https://bomg2231.com/">Project 1 (home page)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 2 (self home page)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/Superhero/">Project 3 (superhero index)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/planner/index.php">Project 4 (planner project)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/docman/index.php">Project 5 (docman project)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/subscriber/index.php">Project 6 (subscriber database)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/superhero/">Project 7 (superhero now a database)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/notes/index.php">Project 8 (Notes Database)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/review/index.php">Project 9 (Review Manager)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/slides.php">Project 10 (Slide Show)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 11 (does not exist it)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 12 (does not exist it)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 13 (does not exist it)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 14 (does not exist it)</a>
            </li>
            <li>
                <a href="https://bomg2231.com/bacs350/">Project 15 (does not exist it)</a>
            </li>
        </ul>